<!DOCTYPE html>

<html>

<head>
    <title>Faustão</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./img/fausto.jpg">    
        <p>Faustão comendo pão de alho fodase</p>
    </div>    
    {{>footer}}
</body>

</html>